<meta charset="utf-8">
<title>Hi</title>
<head>
<body>

{# Using variables and filters #}
{# https://jinja.palletsprojects.com/en/2.10.x/templates/#builtin-filters #}

<h1>Hi, {{name}}</h1>
<h1>Hi, {{name|title}}</h1>
<h1>Hi, {{name|upper}}</h1>
<h1>Hi, {{name|upper|reverse}}</h1>

<p>{{name*10}}</p>
<p>{{1+12}}</p>

{# 1. Using if else #}

{% if name == 'paul' %}
Welcome back
{% else %}
Nice to meet you.

{% endif %}

{# 2. Using loop #}

<p>What is your favorite language?</p>
{% for x in list %}
{{x}}<br>

{% endfor %} 

</body>
</head>
